body {
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 49, 49);
    color: white;
    height: 4rem;
}

.head {
    text-align: center;
    display: block;
    width: 33.33%;
}

.containers {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

#left-side {
    width: 20%;
    display: flex;
    flex-direction: column;
}

#submitBtn {
    margin-top: .5rem;
    background-color: rgb(51, 49, 49);
    color: white;
    border: none;
    border-radius: 3px;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.charts {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 55%;
}

.right-aside {
    margin: 1rem;
    width: 25%;
}

#news-title{
    font-size: 1.5rem;
    padding-bottom: .5rem;
    text-align: center;
    font-weight: bold;
}