body {
    font-family: sans-serif;
    height: 100%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 49, 49);
    color: white;
    height: 4rem;
}

#search {
    border: 1px solid black;
    border-radius: 2px;
}


.head {
    text-align: center;
    display: block;
    width: 33.33%;
}

.container {
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    display: flex;
    align-content: center;
    flex-direction: row;
    margin-top: 1rem;
    height: fit-content;
    width: 100%;
}

#left-side {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.cryptoFav {
    margin-top: 1.5rem;
}

.previousSearchButton {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    background-color: rgb(51, 49, 49);
    color: white;
    border: none;
    border-radius: 3px;
    padding-top: .3rem;
    padding-bottom: .3rem;
    width: 153.59px;
}

#submitBtn {
    margin-top: .5rem;
    background-color: rgb(51, 49, 49);
    color: white;
    border: none;
    border-radius: 3px;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

#chart-container {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#charts {
    width: 100%;
}

#chart-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 19px 38px rgba(0,0,0,0.30), 5px 5px 12px rgba(0,0,0,0.22);
}

.right-aside {
    width: 25%;
    margin-left: 1rem;
}

#news-title{
    padding-bottom: .5rem;
    text-align: center;
}

.news-content {
    margin-left: .3rem;
    margin-right: .3rem;
}

.scroll {
    padding:4px;
    /* background-color: rgb(51, 49, 49); */
    color: #2B6FFF;
    width: fit-content;
    box-shadow: 5px 19px 38px rgba(0,0,0,0.30), 5px 15px 12px rgba(0,0,0,0.22);
    background-color: azure;
    height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    border-radius: 3px;
}

.new-descr {
    color: black;
}

footer {
    background-color: rgb(51, 49, 49);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 250px;
}

.main-ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about {
    text-align: center;
    width: 33.3%;
}

.contact {
    text-align: center;
    width: 33.3%;
}

.exchanges {
    text-align: center;
    width: 33.3%;
}

.ul-title {
    text-decoration: underline;
    margin-bottom: .9rem;
    margin-top: 1rem;
    color: white;
}

footer li {
    list-style-type: none;
    position: relative;
    color: #2B6FFF;
    margin: 0 0 10px 0;
}

.nomics-cred {
    color: white;
    font-size: 1em;
    text-align: center;
    margin-top: 2.3rem;
}




