body {
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 49, 49);
    color: white;
    height: 3rem;
}

.head {
    text-align: center;
    display: block;
    width: 33.33%;
}

.containers {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

#left-side {
    width: 25%;
    display: flex;
    flex-direction: column;
}

#submitBtn {
    margin-top: .5rem;
    background-color: rgb(51, 49, 49);
    color: white;
    border: none;
    border-radius: 3px;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.charts {
    width: 50%;
}

.right-side {
    width: 25%;
}

footer {
    background-color: rgb(51, 49, 49);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 300px;
}

footer ul {
    margin: auto;
    color: white
}
footer li {
    list-style-type: none;
    position: relative;
    color: #2B6FFF;
    margin: 0 0 10px 0;
}